<!DOCTYPE html>
<html>
<head>
  <title>DayApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
</head>
<body>



    <div id="header">
             <img width='1400px' height='250px'src="http://www.freewebheaders.com/wordpress/wp-content/gallery/flowers/close-up-assorted-beautiful-plumeria-flowers-web-header.jpg">
    </div> 



<%= yield %>

</body>
</html>
